@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background: rgb(209, 255, 236);
    background: linear-gradient(79deg, rgba(209, 255, 236, 1) 0%, rgba(201, 195, 130, 1) 100%);
    font-family: Roboto;
}

h1 {
    margin: 1em auto;
    text-align: center;
    color: #3a564a;
}

.list {
    display: grid;
    gap: 30px;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.title {
    /* border-bottom: 1px solid #eee; */
    /* position: relative; */
    margin: 0;
    width: 100%;
    /* padding-bottom: 10px; */
    font-size: 12px;
    /* font-weight: 700;*/
}

.card {
    display: flex;
    flex-direction: column;
    box-shadow: 10px 5px 8px rgba(0, 0, 0, 0.184);
    border-radius: 17px;
    background-color: white;
    text-align: center;
    color: #506E61;
    width: 262px;
    height: 450px;
    scroll-behavior: smooth;
    overflow: hidden;
}

.card h2 {
    font-weight: 600;
    height: 30px;
}

.card hr {
    background-color: #506E61;
    border: none;
    width: 100px;
    height: 3px;
}

.card img {
    height: 190px;
    width: 262px;
    object-fit: cover;
}

.card_text {
    border-top-color: #506E61;
    text-align: center;
    width: 100%;
    font-size: 12px;
    height: 100px;
    align-items: center;
}

.card button {
    font: inherit;
    font-weight: 400;
    background-color: #506E61;
    color: white;
    border: 2px solid #506E61;
    padding: 0.5em 1em;
    width: 160px;
    border-radius: 6px;
    display: block;
    margin: auto;



}

.image {
    position: relative;
    color: #c89b3f
}

.sub {
    position: absolute;
    border-top-left-radius: 1rem;
    bottom: 10px;
    right: 0;
    padding: 8px 1.3rem;
    /* font-size: 1.4rem; */
    text-transform: uppercase;
    background: #506E61;
    color: white;
    margin: 0;
}


.modalMask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px);

}

.modalBox {
    width: 400px;
    /* min-height: 100px; */
    height: 640px;
    background: #fff;
    position: relative;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2)0px 7px 29px 0px;
    padding: 20px;


}

.modalBox button {
    position: absolute;
    top: 15px;
    right: 20px;
    width: 30px;
    height: 30px;
    border: none;
    background: none;
    cursor: pointer;
    transition: .3s ease all;
    border-radius: 5px;
    color: #506E61;


}


.modalBox button:hover {
    background-color: #728e82;
}


.contenidoModal {

    /* display: flex;
    flex-direction: column;
    align-items: center; */
    padding: 1rem 3rem;
    padding-top: 2rem;
    border-radius: 20px;
    font-size:1px ;
    

}

.contenidoModal h3 {
    /* font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px; */
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 1rem;
    border-bottom: 2px solid #406b46;
}

.contenidoModal p {
    /* font-size: 15px;
    margin-bottom: 20px; */
    font-size: 1rem;
    line-height: 1.3rem;
    padding: 0.5rem 0;
}

.contenidoModal li {

    font-size: 15px;

}